<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curiosity Mars Rover</title>
</head>
<body style="background-color: antiquewhite;">
    <h1>Curiosity Mars Rover</h1>
    

    <ul>
        <div class="row">
        
        {% for photos in all_photo%}
        
            <div class="col-md-4">
        <div class="card" style="width:400px">
            <div class="card-header">Photo id: {{ photos.id}}</div>
            <div class="card-body">
                <img src="{{ photos.img_src }}" alt="img" height="300px" width="300px">
                
            </div>
            <div class="card-footer">
                <h6>Camera Name: {{ photos.camera.name}}</h6>
                <h6>Rover Name: {{ photos.rover.name}}</h6>
                <p>Earth Date: {{ photos.earth_date}}</p>
            </div>
        </div>
        </div>
        
        {% endfor %}
        
    </div>
    
    </ul>
</body>
</html>



